<h1>Renouvellement du mot de passe</h1>
{{form_start(form)}}
	{{form_row(form.plainPassword.first,  {label: 'Nouveau mot de passe:'})}}
	{{form_row(form.plainPassword.second,  {label: 'Confirmer le Nouveau mot de passe:'})}}
	<button class=""  type="submit"></button>
{{form_end(form)}}